body {
    background-color: white;
}

code {
    font-family: monospace;
    font-size: 20px;
    padding: 2px;
}

.content { 
  width: 95%;
 height: 265px;
 font-size: 110%;
 padding: 15px;
 border: 2px solid #4b5945;
 border-radius: 10px;
}

label{ 
  color: #3F4F44;
    font-size: 150%;
    font-family: serif;
    padding-left: 15px;
    text-align: left;
}